{% extends 'base.html.twig' %}

{% block title %}MyRecipe - Connexion{% endblock %}

{% block body %}
    <div class="container mt-4">
     <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-4">
        <h1 class="text-center">Connexion</h1>
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if error %}
        <div class="alert alert-danger">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
        {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="form-group">
            <label for="username" class="control-label">Email:</label>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Entrez votre adresse email poru vous identifier" value="{{last_username}}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="password" class="control-label">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Entrez votre mot de passe"/>
        </div>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
        <br>
        <button class="btn btn-info" type="submit">login</button>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
