{% extends 'base.html.twig' %}

{% block title %}MyRecipe - Accueil{% endblock %}

{% block body %}
<div class="container">

<div class="jumbotron">
  <h1 class="display-4 mt-4">Bienvenue sur la page de mes Recettes</h1>
  <p class="lead">Vous troverez sur cette page ....</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo alias ea minus aut, voluptatibus deleniti soluta recusandae, delectus dolores officiis iure, quo sapiente excepturi eos similique neque. Tempore, nobis tempora.</p>
  <hr class="my-4">
  <p>Pour commencer merci d'aller sur la page d'inscription...</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
{% endblock %}
