{% extends 'base.html.twig' %}

{% block title %}MyRecipe - Modification mot de passe utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Formulaire de modification mot de passe de l'utilisateur</h1>
        <br>
        {% for message in app.flashes('warning') %}
      <div class="alert alert-warning">
          {{ message }}
      </div>
{% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
