<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My recipe!{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        {% block header %} {% include "partials/_header.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
